{% extends 'main/base.html' %}
{% load staticfiles %}
{% block body %}


{% if user.is_authenticated %}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container"> 
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a target="_blank" href="#"><img class="img img-responsive" src="{% static 'images/thumb_cumbria.png' %}"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="explore"><a href="#"><button class="ui primary button">Keşfet</button></a></li>
                <li class="explore">
            		<div class="ui icon input">
				  		<input type="text" placeholder="Ne Öğrenmek İstersin?">
				  		<i class="inverted circular search link icon"></i>
					</div>
				</li>             
             </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user icon-size-20"></span> 
                        <strong>Erkan</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size-80"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>{{ user.username }}</strong></p>
                                        <p class="text-left small">{{ user.email }}</p>
                                        <p class="text-left">
                                            <a href="#" class="btn btn-primary btn-block btn-sm">Profil Bilgileri</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="/logout" class="btn btn-danger btn-block">Logout</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% else %}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container"> 
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a target="_blank" href="#"><img class="img img-responsive" src="{% static 'images/thumb_cumbria.png' %}"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="explore"><a href="#"><button class="ui primary button">Keşfet</button></a></li>
                <li class="explore">
            		<div class="ui icon input">
				  		<input type="text" placeholder="Ne Öğrenmek İstersin?">
				  		<i class="inverted circular search link icon"></i>
					</div>
				</li>             
             </ul>
            <div class="nav navbar-nav navbar-right">
                <div class="row">
                	<div class="col-xs-12"><button class="ui primary button">Kayıt Ol</button><button class="ui primary button" role="button" data-toggle="modal" data-target="#login-modal">Giriş Yap</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}



<!-- BODY -->
<section id="banner-welcome-visitors">
	<div class="container banner">
		<div>
			<img class="img img-responsive" src="{% static 'images/banner.jpg' %}">
		</div>
	</div>
</section>
<section id="banner-advertisement-universities">
	<div class="owl-carousel owl-theme">
	    <div class="item"><img class="img img-responsive" src="{% static 'images/banner-uni-1.png' %}"></div>
	    <div class="item"><img class="img img-responsive" src="{% static 'images/banner-uni-2.png' %}"></div>
	    <div class="item"><img class="img img-responsive" src="{% static 'images/banner-uni-3.png' %}"></div>
	    <div class="item"><img class="img img-responsive" src="{% static 'images/banner-uni-4.png' %}"></div>
	    <div class="item"><img class="img img-responsive" src="{% static 'images/banner-uni-5.jpg' %}"></div>
	    <div class="item"><img class="img img-responsive" src="{% static 'images/banner-uni-6.png' %}"></div>
	    <div class="item"><img class="img img-responsive" src="{% static 'images/banner-uni-7.png' %}"></div>
	</div>
</section>

<!-- BODY END -->

<script>
	$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    responsiveClass:true,
    autoplay: true,
    autoplayTimeout: 1000,
    animateOut: true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:5,
            nav:true,
            loop:false
        }
    }
})
</script>
{% include 'main/modals.html' %}
{% endblock %}