body{
	font-size: 16px;
    line-height: 21px;
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif;
}
ul{
	font-size: 1em;
	list-style: none;
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size-80{
    font-size: 87px;
}
.icon-size-20{
	font-size:20px;
}
.glyphicon-chevron-down{
	font-size: 12px;
    padding-left: 5px;
}
.dropdown-toggle strong{
	padding-left: 5px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background: #3a3a3a;
	color: white;
}
.navbar-default .container{
	margin: 0;
	width: 100%;
}
.navbar-default ul li.dropdown a{
	padding-top: 12px;
	padding-bottom: 10px;
}
.navbar-default ul li button{
	margin: 7px;
}
.navbar-default ul li.explore a{
	padding: 0;
	margin: 7px;
}
.navbar-default ul li.explore div{
	padding: 0;
	margin: 3px;
}
.banner{
	padding: 0;
	margin: 0;
	width: 100%;
}
.navbar-right .row .col-xs-12{
	margin: 7px;
}




/* LOGIN MODAL */

#login-modal .modal-body div, #login-modal .modal-body input{
	margin: 10px 0px;
}
#login-modal .modal-body, .modal .modal-footer{
	background: white;
}
#login-modal .modal-content{
	background: transparent; 
	box-shadow: none;
	border: none;
}
#login-modal .close{
	color: white;
	opacity: 0.5;
}
#login-modal .close:hover{
	color: white;
	opacity: 1;
}

