body{
	font-size: 16px;
    line-height: 21px;
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif;
}
ul{
	font-size: 1em;
	list-style: none;
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size-80{
    font-size: 87px;
}
.icon-size-20{
	font-size:20px;
}
.glyphicon-chevron-down{
	font-size: 12px;
    padding-left: 5px;
}
.dropdown-toggle strong{
	padding-left: 5px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background: #3a3a3a;
	color: white;
}
.navbar-default .container{
	margin: 0;
	width: 100%;
}
.navbar-default ul li.dropdown a{
	padding-top: 12px;
	padding-bottom: 10px;
}
.navbar-default ul li button{
	margin: 7px;
}
.navbar-default ul li.explore a{
	padding: 0;
	margin: 7px;
}
.navbar-default ul li.explore div{
	padding: 0;
	margin: 3px;
}
.banner{
	padding: 0;
	margin: 0;
	width: 100%;
}
.navbar-right .row .col-xs-12{
	margin: 7px;
}




/* LOGIN MODAL */

#login-modal .modal-body div, #login-modal .modal-body input{
	margin: 10px 0px;
}
#login-modal .modal-body, .modal .modal-footer{
	background: white;
}
#login-modal .modal-content{
	background: transparent; 
	box-shadow: none;
	border: none;
}
#login-modal .close{
	color: white;
	opacity: 0.5;
}
#login-modal .close:hover{
	color: white;
	opacity: 1;
}
.owl-carousel img{
	height: 100px;
    width: 100px;
    margin: auto;
    width: auto !important;
}
#banner-advertisement-universities{
	margin-top: 20px;
}




	
/**** LAYOUT ****/
.list-inline>li {
    padding: 0 10px 0 0;
}
.container-pad {
    padding: 30px 15px;
}


/**** MODULE ****/
.bgc-fff {
    background-color: #fff!important;
}
.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.brdr {
    border: 1px solid #ededed;
}


/* Padding - Margins */
.pad-10 {
    padding: 10px!important;
}
.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.btm-mrg-20 {
    margin-bottom: 20px!important;
}

/* Color  */
.clr-535353 {
    color: #535353;
}




/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 180px;
    }
}

#course-card .media-heading{
	font-size: 20px;
    font-weight: 600;
}

#course-card .media-heading a{
	color: rgba(0,0,0,.87) !important;
	font-family: OpenSans,Arial,sans-serif
}
.tag-course {
    border-radius: 3px;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.1875rem 1.125rem;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    background-image: -moz-linear-gradient(90deg, #4fc1e9, #4a89dc);
    background-image: -webkit-linear-gradient(90deg, #4fc1e9, #4a89dc);
    background-image: linear-gradient(90deg, #4fc1e9, #4a89dc);
}

.rating-div{
	border-right: 1px solid black;

	display: inherit;
    align-items: center;
}
.rating{
	margin: 5px 0px;
}
.rating .fas{
	color: #f6ba42;
}
.rating .far{
    color: #f6ba42;
}
.product-info{
	align-items: center;
	display: flex;
    letter-spacing: 0.875px;
}
.product-info .rating{
	margin-right: 12px;
}
.product-info .span{
	margin-right: 12px;
    font-weight: 700;
    color: #000;
}
.product-info .enrollment{
	padding-left: 12px;
}